.git
.settings
.buildpath
.project
icon.svg
source/2013_australian_presidential_period/bruto
source/2013_australian_presidential_period/csv
source/2013_australian_presidential_period/xlsx
source/2016_uefa_champions_league_final/bruto
source/2016_uefa_champions_league_final/csv
source/2016_uefa_champions_league_final/xlsx
source/music_genre_evolution/bruto
source/music_genre_evolution/csv
source/music_genre_evolution/xlsx
source/2014_rugby_union_match/bruto
source/2014_rugby_union_match/csv
source/2014_rugby_union_match/xlsx
source/2016_us_second_presidential_debate/bruto
source/2016_us_second_presidential_debate/csv
source/2016_us_second_presidential_debate/xlsx
source/2016_us_presidential_election_day/bruto
source/2016_us_presidential_election_day/csv
source/2016_us_presidential_election_day/xlsx
source/2017_ecuador_presidential_election_day
source/structure-json.txt
source/structure-multistream.json
source/covid_evolution/pre_processing